.signup-container {
  background-image: url("./src/components/images/Signup.jpg");
  /*height: 700px;*/
  height:  750px;;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.staffsignup-container {
  background-image: url('./src/components/images/staffSignup.png');
  /*height: 700px;*/
  height: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;

}

.supervisorHome_container {
  background-image: url('./src/components/images/imageSHome.jpg');
  height: 800px;
  /*height: auto;*/
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;

}

.signin-container {
  background-image: url("./src/components/images/signIn.jpg");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.StudentHome_container {
  background-image: url("./src/components/images/std.jpg");
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.Home_container {
  background-image: url("./src/components/images/Home.jpg");
  height:  500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.PanelHome_container {
  background-image: url("./src/components/images/image_addpanel.png");
  height:  630px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.panelmember-container {
  background-image: url("./src/components/images/panelMem.jpg");
  height: 780px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.viewPanelMember-container {
  background-image: url("./src/components/images/viewpmember.jpg");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.admin-container {
  background-image: url("./src/components/images/viewpmember.jpg");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.updatepanelMembers-container {
  background-image: url("./src/components/images/panelMem.jpg");
  height: 780px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.finalMarks-container {
  background-image: url("./src/components/images/panelMem.jpg");
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.PanelEvaluateTopic-container{
  background-image: url("./src/components/images/imagepp.jpg");
  height: 630px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.PanelEvaluatePresentation-container{
  background-image: url("./src/components/images/panel.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.StaffHome_container {
  background-image: url("./src/components/images/staffhome.jpg");
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.panel-container {
  background-image: url("./src/components/images/panelMem.jpg");
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.viewPanel-container {
  background-image: url("./src/components/images/viewpmember.jpg");
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}

.viewFinalmarks-container {
  background-image: url("./src/components/images/viewpmember.jpg");
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.footer-container {
  background-color: #404040;
  overflow: hidden;
  color: white;
}


